* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    text-decoration: none;
}
html {
    scroll-snap-type: y mandatory;
}
body {
    background-color: #1B1116;
    color: aliceblue;
}
#content {
    width: 100%;
    max-width: 1000px;
    height: 101vh;
    margin: 0 auto;
}
section {
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
img {
    width: 100%;
}