* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    text-decoration: none;
}
html {
    scroll-snap-type: y mandatory;
}
body {
    background-color: #1B1116;
    color: aliceblue;
}
#content {
    width: 100%;
    max-width: 1000px;
    height: 101vh;
    margin: 0 auto;
}
section {
    scroll-snap-align: start;
    height: 101vh;
    padding-top: 20px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;

    background-color: #35222b;
}
img {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}