<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MefTok meme</title>

    <link rel="apple-touch-icon" sizes="180x180" href="images\logo\black/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images\logo\black/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images\logo\black/favicon-16x16.png">
    <link rel="manifest" href="images\logo\black/site.webmanifest">
    <link rel="mask-icon" href="images\logo\black/safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="css\style.css">
</head>
<body>

<script>
document.location.href="https://rutube.ru/video/a2ed3c8c4bfdb5136178afadbf9867af/"
</script>

</body>
</html>
